{%- set system_cacerts_file = salt['grains.filter_by']({
    'Debian': '/etc/ssl/certs/ca-certificates.crt',
    'RedHat': '/etc/pki/tls/certs/ca-bundle.crt'
})%}

{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['heat-api', 'heat-api-cfn', 'heat-api-cloudwatch', 'heat-engine', 'heat-common','python-heatclient', 'gettext-base'],
        'services': ['heat-api', 'heat-api-cfn', 'heat-api-cloudwatch', 'heat-engine'],
        'notification': False,
        'cors': {},
        'clients': {}
    },
    'RedHat': {
        'pkgs': ['openstack-heat-api', 'openstack-heat-api-cfn', 'openstack-heat-api-cloudwatch', 'openstack-heat-engine', 'openstack-heat-common'],
        'services': ['openstack-heat-api', 'openstack-heat-api-cfn', 'openstack-heat-api-cloudwatch', 'openstack-heat-engine'],
        'notification': False,
        'cors': {},
        'clients': {}
    },
}, merge=pillar.heat.get('server', {})) %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['python-heatclient'],
    },
    'RedHat': {
        'pkgs': ['python-heatclient'],
    },
}, merge=pillar.heat.get('client', {})) %}

{% set monitoring = salt['grains.filter_by']({
    'default': {
        'error_log_rate': 0.2,
    },
}, grain='os_family', merge=salt['pillar.get']('heat:monitoring')) %}
